body {
  background-color: grey;
}
.title,
.title-sub {
  text-align: center;
  color: white;
}

.product {
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.product-img {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: white;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
